.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Folder build wajib di-ignore, tapi folder platform JANGAN
build/

# IDE and lokal settings
.idea/
.vscode/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Amankan file rahasia lokal lo
.env